In [ ]:
#     Indexed
#     Ordered
#     Multiple Values
#     Duplicate Values
#     Mutable

In [1]:
d = {}
print(type(d))

<class 'dict'>

In [2]:
# d = {<key>:<value>}

In [3]:
# Indexed
d = {'a':"Apple"}
print(d)
print(type(d))

{'a': 'Apple'}
<class 'dict'>

In [4]:
# Ordered
d = {'a':"Apple",'b':"Ball",'c':"Cat"}
print(d['a'])
print(d['b'])
print(d['c'])

Apple
Ball
Cat

In [5]:
# Multiple Values
d = {'a':"Apple",'b':"Ball",'c':"Cat"}
print(d)
print(len(d))

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
3

In [6]:
# Duplicate Values
d = {'a':"Apple",'b':"Ball",'c':"Apple"}
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Apple'}

In [7]:
# Mutable
d = {'a':"Apple",'b':"Ball",'a':"Cat"}
print(d)

{'a': 'Cat', 'b': 'Ball'}

In [8]:
# Mutable
a = {}
a['A'] = "Apple"
a['B'] = "Ball"
a['c'] = "Cat"
a['A'] = "apple"


print(a)

{'A': 'apple', 'B': 'Ball', 'c': 'Cat'}

In [9]:
a = {}
a['A'] = "Apple"
a['B'] = "Ball"
a['c'] = "Cat"


print(a)

{'A': 'Apple', 'B': 'Ball', 'c': 'Cat'}

In [10]:
info = dict()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    info[name] = phone
print(info)

Enter n = 1
Enter name = Sangam
Enter phone = 9824846454
{'Sangam': '9824846454'}

In [11]:
{'Sangam': '934732974123', 'sagar': '4734712374'}
for i in d:
    print(i)

a
b

In [12]:
d = {'Sangam': '934732974123', 'sagar': '4734712374'}
for i in d.values():
    print(i)

934732974123
4734712374

In [13]:
l = list()
d = {'Sangam': '934732974123', 'sagar': '4734712374'}
for i in d.items():
    print(i)

('Sangam', '934732974123')
('sagar', '4734712374')

In [14]:
d = {'Sangam': '934732974123', 'sagar': '4734712374'}
dict(d)

{'Sangam': '934732974123', 'sagar': '4734712374'}

In [15]:
list("Python")

['P', 'y', 't', 'h', 'o', 'n']

In [16]:
tuple("Python")

('P', 'y', 't', 'h', 'o', 'n')

In [17]:
d = {'Sangam': '934732974123', 'sagar': '4734712374'}
d['Sangam'] = '741823744545'
print(d)

{'Sangam': '741823744545', 'sagar': '4734712374'}

In [18]:
# Mutable
d = {'Sangam': '934732974123', 'sagar': '4734712374'}
d['Hari'] = '741823744545'
print(d)

{'Sangam': '934732974123', 'sagar': '4734712374', 'Hari': '741823744545'}

In [ ]:
# del pop()

In [19]:
d = {'Sangam': '934732974123', 'sagar': '4734712374'}
del d["Sangam"]
print(d)

{'sagar': '4734712374'}

In [20]:
d = {'Sangam': '934732974123', 'sagar': '4734712374'}
d.pop("Sangam")
print(d)

{'sagar': '4734712374'}

In [ ]:
# list tuple set dictonary as value
    #  contains following as a values
        #     list
        #     Tuple
        #     Set
        #     Dictonary

In [21]:
#list inside dict
d = {'Ram': ['9856556543','98564457687'], 
     'Shyam': ['9867665654','9867565545']}
print(d)
print(len(d))
print(type(d))

{'Ram': ['9856556543', '98564457687'], 'Shyam': ['9867665654', '9867565545']}
2
<class 'dict'>

In [22]:
d = {'Sangam': ['934732974123','9347329741234564'],
     'sagar': ['4734712374','473471237455']}
print(d)
print(len(d))
print(type(d))

{'Sangam': ['934732974123', '9347329741234564'], 'sagar': ['4734712374', '473471237455']}
2
<class 'dict'>

In [23]:
print(d['Sangam'])
print(d["sagar"][0])

['934732974123', '9347329741234564']
4734712374

In [24]:
d = {'Sangam': ['934732974123','9347329741234564'],
     'sagar': ['4734712374','473471237455']}
for i in d.items():
    print(i)

('Sangam', ['934732974123', '9347329741234564'])
('sagar', ['4734712374', '473471237455'])

In [25]:
data = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc = input("Enter ntc phone no. = ")
    ncell = input("Enter ncell phone no. = ")
    data[name] = [ntc,ncell]
print(data)

Enter n = 1
Enter name = Sangam
Enter ntc phone no. = 9862729316
Enter ncell phone no. = 9824846454
{'Sangam': ['9862729316', '9824846454']}

In [33]:
d = {'Sangam': ['934732974123','9347329741234564'],
     'sagar': ['4734712374','473471237455']}
d['Sangam'][0] = 98364636434
del d['sagar'][0]
d

{'Sangam': [98364636434, '9347329741234564'], 'sagar': ['473471237455']}

In [34]:
d = {'Sangam': ['934732974123','9347329741234564'],
     'sagar': ['4734712374','473471237455']}
d.pop('Sangam')
d

{'sagar': ['4734712374', '473471237455']}

In [35]:
d = {'Sangam': ['934732974123','9347329741234564'],
     'sagar': ['4734712374','473471237455']}
d['Sangam'].pop(0)
d

{'Sangam': ['9347329741234564'], 'sagar': ['4734712374', '473471237455']}

In [29]:
d = {'Sangam': ['934732974123','9347329741234564'],
     'sagar': ['4734712374','473471237455']}
d['Sangam'].append("9824392754231794")
d

{'Sangam': ['934732974123', '9347329741234564', '9824392754231794'],
 'sagar': ['4734712374', '473471237455']}

In [30]:
# dict inside list
l = [{'Name':'Ram','NTC':9867554543,'NCELL':9808556543},
    {'Name':'Shyam','NTC':9864334321,'NCELL':9808998976}]
print(l)
print(type(l))
print(l[1]['Name'])

[{'Name': 'Ram', 'NTC': 9867554543, 'NCELL': 9808556543}, {'Name': 'Shyam', 'NTC': 9864334321, 'NCELL': 9808998976}]
<class 'list'>
Shyam

In [31]:
mylist = {'mydict': [{'A': 'Letter A'}, {'B': 'Letter C'}, {'C': 'Letter C'}]}
print(mylist['mydict'][0]['A'])

Letter A

In [32]:
for i in l:
    print(i)

{'Name': 'Ram', 'NTC': 9867554543, 'NCELL': 9808556543}
{'Name': 'Shyam', 'NTC': 9864334321, 'NCELL': 9808998976}

In [36]:
data = []
n = int(input('Enter n = '))
for i in range(n):
    name = input("Enter name = ")
    ntc = input("Enter ntc phone = ")
    ncell = input("Enter ncellphone = ")
    info = {'Name':name,'Ntc':ntc,'Ncell':ncell}
    data.append(info)
print(data)

Enter n = 1
Enter name = Sangam
Enter ntc phone = 9862729316
Enter ncellphone = 9824846454
[{'Name': 'Sangam', 'Ntc': '9862729316', 'Ncell': '9824846454'}]

In [37]:
print(data[0]['Name'])

Sangam

In [38]:
data[0]['Name'] = 'Ram'
print(data)

[{'Name': 'Ram', 'Ntc': '9862729316', 'Ncell': '9824846454'}]

In [39]:
data[0]['Land'] = 34334234
data

[{'Name': 'Ram', 'Ntc': '9862729316', 'Ncell': '9824846454', 'Land': 34334234}]

In [ ]:
# dict inside dict
    # d = {<key>:{<key>:<value>}}

In [40]:
d = {'Nepal':{'Name':'Ram','NTC':'93473847394','NCELL':'984734343343'},
    'USA':{'Name': 'Ram','NTC':'3934834','NCELL':'384394734'}}
print(d['Nepal'])

{'Name': 'Ram', 'NTC': '93473847394', 'NCELL': '984734343343'}

In [41]:
print(d['Nepal']['Name'])

Ram

In [42]:
data = {}
n = int(input('Enter n = '))
for i in range(1,n+1):
    name = input("Enter name = ")
    ntc = input("Enter ntc phone = ")
    ncell = input("Enter ncell phone = ")
    data[i] = {'Name':name,'NTC':ntc,'NCELL':ncell}
    
print(data)

Enter n = 1
Enter name = Sangam
Enter ntc phone = 9862729316
Enter ncell phone = 9824846454
{1: {'Name': 'Sangam', 'NTC': '9862729316', 'NCELL': '9824846454'}}

In [43]:
data[3] = {'Name':'Hari','NTC':9867665643,'NCELL':9808556543}
data

{1: {'Name': 'Sangam', 'NTC': '9862729316', 'NCELL': '9824846454'},
 3: {'Name': 'Hari', 'NTC': 9867665643, 'NCELL': 9808556543}}

In [44]:
data[1]['Name'] = "Rama"
data

{1: {'Name': 'Rama', 'NTC': '9862729316', 'NCELL': '9824846454'},
 3: {'Name': 'Hari', 'NTC': 9867665643, 'NCELL': 9808556543}}

In [45]:
data[1]['NTC'] = [9867665654,98454432]
data

{1: {'Name': 'Rama', 'NTC': [9867665654, 98454432], 'NCELL': '9824846454'},
 3: {'Name': 'Hari', 'NTC': 9867665643, 'NCELL': 9808556543}}

In [46]:
d = {('Ram','Shyam'):'Kathmandu'}
print(d)

{('Ram', 'Shyam'): 'Kathmandu'}

In [47]:
d[('Ram', 'Shyam')]

'Kathmandu'

In [48]:
data = []
d = {('Ram','Shyam'):'Kathmandu',('Hari','Sita'):'Patan'}
for i in d.items():
    if "Ram" in i[0]:
        print(i)

(('Ram', 'Shyam'), 'Kathmandu')

In [49]:
d = {1:{'Name':'Aakash','Physics':{'Th':60,'Pr':20}},
     2:{'Name':'sagar','Physics':{'Th':50,'Pr':10}}}
d

{1: {'Name': 'Aakash', 'Physics': {'Th': 60, 'Pr': 20}},
 2: {'Name': 'sagar', 'Physics': {'Th': 50, 'Pr': 10}}}

In [50]:
data = {}
n = int(input('Enter n = '))
for i in range(1,n+1):
    name = input("Enter name = ")
    PhysicsTh = input("Enter physics theory  mark = ")
    PhysicsPr = input("Enter physics paractical  mark = ")
    data[i] = {'Name':name,'PhysicsTh':PhysicsTh,'PhysicsPr':PhysicsPr} 
print(data)

Enter n = 1
Enter name = Sangam
Enter physics theory  mark = 78
Enter physics paractical  mark = 49
{1: {'Name': 'Sangam', 'PhysicsTh': '78', 'PhysicsPr': '49'}}