In [ ]:
# Python Collection
#     list
#     Tuple
#     Dictionary
#     set

In [4]:
# List
#     Indexed
#     ordered
#     mutable
#     Duplicate values
#     multiple values

In [2]:
l = list()
lis = []
print(type(l))

<class 'list'>

In [3]:
data = ["Apple","Ball","Cat"]
print(data)

['Apple', 'Ball', 'Cat']

In [5]:
data = ["Apple","Ball","Cat"]
print(data)

['Apple', 'Ball', 'Cat']

In [10]:
data = ["Apple","Ball","Cat",'Apple']
data[-1]

'Apple'

In [12]:
data = ["Apple","Ball","Cat",'Apple']
print(data)

['Apple', 'Ball', 'Cat', 'Apple']

In [13]:
data = ["Apple","Ball","Cat",'Apple']
data1 = ["Dog"]
print(data+data1)

['Apple', 'Ball', 'Cat', 'Apple', 'Dog']

In [14]:
a = [1,2,3,4]
print(a*3)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [15]:
data = ["Apple","Ball","Cat",'Apple']
data1 = "dog"
data+dat1

NameError: name 'dat1' is not defined

In [18]:
data = ["Apple","Ball","Cat","Apple"]
data[0] = "apple"
data

['apple', 'Ball', 'Cat', 'Apple']

In [19]:
data = [1,2,3,4,5,6,7,8,9]
data[0:5]

[1, 2, 3, 4, 5]

In [21]:
data = [1,2,3,4,5,6,7,8,9]
data[0:8:2]

[1, 3, 5, 7]

In [24]:
data = []
n = int(input("Enter n = "))
for i in range(n):
    x = input('Enter x = ')
    data = data+[x]
print(data)

Enter n = 4
Enter x = Ananya
Enter x = Zeyana
Enter x = Bhumika
Enter x = Rosni
['Ananya', 'Zeyana', 'Bhumika', 'Rosni']

In [25]:
data = ['Dang','Ktm','Bardibas','Dhading']
for i in data:
    print(i)

Dang
Ktm
Bardibas
Dhading

In [26]:
data = ['Dang','Ktm','Bardibas','Dhading','Bardibas']
for i in data:
    if i =="Bardibas":
        continue
    print(i)

Dang
Ktm
Dhading

In [27]:
data = []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    data = data+[x]
    
print(data)

Enter n = 4
Enter x = 5
Enter x = 2
Enter x = 12
Enter x = 7
[5, 2, 12, 7]

In [28]:
print("Max value = ",max(data))
print("Min value = ",min(data))
print("The sum is = ",sum(data))
print("The Avg = ",sum(data)/n)
data.sort()
print(data)

Max value =  12
Min value =  2
The sum is =  26
The Avg =  6.5
[2, 5, 7, 12]

In [29]:
data.reverse()
print(data)

[12, 7, 5, 2]

In [31]:
data = ['Dang','Ktm','Bardibas','Dhading',]
data.sort()
print(data)

['Bardibas', 'Dang', 'Dhading', 'Ktm']

In [33]:
for i in range(len(data)):
    print(data[i])

Bardibas
Dang
Dhading
Ktm

In [36]:
for i in range(len(data)):
    if data[i] == "Dhading":
                print(i)

2

In [40]:
# CRUD operations in list
# append()
# extend()
# insert()

In [38]:
data = ['Dang','Ktm','Bardibas','Dhading']
data.append("Gaighat")
print(data)

['Dang', 'Ktm', 'Bardibas', 'Dhading', 'Gaighat']

In [39]:
data = ['Dang','Ktm','Bardibas','Dhading']
data1 = ["Gaighat","Sarlahi"]
data.extend(data1)
print(data)

['Dang', 'Ktm', 'Bardibas', 'Dhading', 'Gaighat', 'Sarlahi']

In [41]:
data = ['Ananya','Zeyana','Bhumika','Rosni']
data.insert(2,"Princess")
print(data)

['Ananya', 'Zeyana', 'Princess', 'Bhumika', 'Rosni']

In [42]:
data = []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    data.append(x)
    
print(data)

Enter n = 4
Enter x = 5
Enter x = 2
Enter x = 12
Enter x = 7
[5, 2, 12, 7]

In [ ]:
# del() remove() pop()

In [43]:
data = ['Ananya','Zeyana','Princess','Bhumika','Rosni']
del data[2]
print(data)

['Ananya', 'Zeyana', 'Bhumika', 'Rosni']

In [45]:
data = ['Ananya','Zeyana','Princess','Sarita','Bhumika','Rosni']
del data[2:4]
print(data)

['Ananya', 'Zeyana', 'Bhumika', 'Rosni']

In [46]:
data = ['Ananya','Zeyana','Princess','Sarita','Bhumika','Rosni']
data.remove('Sarita')
print(data)

['Ananya', 'Zeyana', 'Princess', 'Bhumika', 'Rosni']

In [50]:
data = ['Ananya','Zeyana','Princess','Sarita','Bhumika','Rosni']
name = input("Enter name = ")
#c = data.count('Sita')
for i in data:
    if i == name:
        data.remove(name)
print(data)

Enter name = Sarita
['Ananya', 'Zeyana', 'Princess', 'Bhumika', 'Rosni']

In [51]:
data = ['Ananya','Zeyana','Princess','Sarita','Bhumika','Rosni']
data.pop()
print(data)

['Ananya', 'Zeyana', 'Princess', 'Sarita', 'Bhumika']

In [52]:
data = ['Ananya','Zeyana','Princess','Sarita','Bhumika','Rosni']
data1 = data.pop(3)
print(data)
print(data1)

['Ananya', 'Zeyana', 'Princess', 'Bhumika', 'Rosni']
Sarita

In [54]:
data = "Ananya Dang 5\n Zeyana Ktm 2\n Bhumika Bardibas 12\n Rosni Dhading 7"
data1 = data.split('\n')
print(data1)
print(data1[3])

['Ananya Dang 5', ' Zeyana Ktm 2', ' Bhumika Bardibas 12', ' Rosni Dhading 7']
 Rosni Dhading 7

In [57]:
data = [['Ananya Dang 5'], [' Zeyana Ktm 2'], [' Bhumika Bardibas 12'], [' Rosni Dhading 7']]
print(len(data))

4

In [62]:
data = [['Ananya Dang 5'], [' Zeyana Ktm 2'],
        [' Bhumika Bardibas 12'], [' Rosni Dhading 7']]
print(data)

[['Ananya Dang 5'], [' Zeyana Ktm 2'], [' Bhumika Bardibas 12'], [' Rosni Dhading 7']]

In [63]:
print(data[3])

[' Rosni Dhading 7']

In [64]:
data[2]

[' Bhumika Bardibas 12']

In [65]:
data = []
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    info = [i,name,age,add]
    data.append(info)   
print(data)

Enter n = 4
Enter name = Ananya
Enter age = 21
Enter add = Dang
Enter name = Zeyana
Enter age = 20
Enter add = ktm
Enter name = Bhumika
Enter age = 19
Enter add = Bardibas
Enter name = Rosni
Enter age = 21
Enter add = Dhading
[[1, 'Ananya', 21, 'Dang'], [2, 'Zeyana', 20, 'ktm'], [3, 'Bhumika', 19, 'Bardibas'], [4, 'Rosni', 21, 'Dhading']]

In [66]:
roll = int(input("Enter roll = "))
print(data[roll-1])

Enter roll = 3
[3, 'Bhumika', 19, 'Bardibas']

In [68]:
data = [[1, 'Ananya', 21, 'Dang'], [2, 'Zeyana', 20, 'ktm'], [3, 'Bhumika', 19, 'Bardibas'], [4, 'Rosni', 21, 'Dhading']]
for i in data:
    print(i)

[1, 'Ananya', 21, 'Dang']
[2, 'Zeyana', 20, 'ktm']
[3, 'Bhumika', 19, 'Bardibas']
[4, 'Rosni', 21, 'Dhading']

In [71]:
data = [[1, 'Ananya', 21, 'Dang'], [2, 'Zeyana', 20, 'ktm'], [3, 'Bhumika', 19, 'Bardibas'], [4, 'Rosni', 20, 'Dhading']]
name = input('Enter name = ')
for i in data:
    if name in i:
        print(i)

Enter name = Bhumika
[3, 'Bhumika', 19, 'Bardibas']

In [72]:
data = [[1, 'Ananya', 21, 'Dang'], [2, 'Zeyana', 20, 'ktm'], [3, 'Bhumika', 19, 'Bardibas'], [4, 'Rosni', 20, 'Dhading']]
name = input('Enter name = ')
for i in range(len(data)):
    if name in data[i]:
        print(i)

Enter name = Rosni
3

In [ ]:
data = [[1, 'Ananya', 21, 'Dang'], [2, 'Zeyana', 20, 'ktm'], [3, 'Bhumika', 19, 'Bardibas'], [4, 'Rosni', 20, 'Dhading']]
data[3] = [4,'Rammaya',20]
data

In [75]:
data = [[1, 'Ananya', 21, 'Dang'], [2, 'Zeyana', 20, 'ktm'], [3, 'Bhumika', 19, 'Bardibas'], [4, 'Rosni', 20, 'Dhading']]
data[3][1]  = "Rosni"
data

[[1, 'Ananya', 21, 'Dang'],
 [2, 'Zeyana', 20, 'ktm'],
 [3, 'Bhumika', 19, 'Bardibas'],
 [4, 'Rosni', 20, 'Dhading']]

In [ ]:
# WAP to develop a billing application (CRUD)
# WAP to develop result management system (CRUD)
# WAP to develop a matrix (CRUD)
# WAP to change 
# ['Apple 200 3 600', 'Banana 100 2 200']
#to
# [['Apple',200,3,600],['Banana','100,2,100']]

In [ ]:
# # Matrix
# a = [[1,2,3],
#     [4,5,6],
#     [7,8,9]]
# r = ?
# c = ?
[[1,2,3],[4,5,6]]

In [78]:
# WAP to develop a matrix (CRUD)

a = []
c  = int(input("Enter c = "))
r = int(input("Enter r = "))
for i in range(r):
    b  = []
    for j in range(c):
        x = int(input("Enter x = "))
        b.append(x)
    a.append(b)
    
print(a)

Enter c = 3
Enter r = 3
Enter x = 1
Enter x = 2
Enter x = 3
Enter x = 4
Enter x = 5
Enter x = 6
Enter x = 7
Enter x = 8
Enter x = 9
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [79]:
# WAP to change 
z = "Apple 200 3 600\nBanana 100 2 200"
y = z.split('\n')
print(y)
# ['Apple 200 3 600', 'Banana 100 2 200']
#to
# [['Apple',200,3,600],['Banana','100,2,100']]
b = []
for i in y:
    x = i.split()
    b.append(x)
    
print(b)

['Apple 200 3 600', 'Banana 100 2 200']
[['Apple', '200', '3', '600'], ['Banana', '100', '2', '200']]

In [80]:
a = [['Apple', '2000', '3', '600'], ['Banana', '100', '2', '200']]
a[0][1] = int(a[0][1])
a[0][2] = int(a[0][2])
a

[['Apple', 2000, 3, '600'], ['Banana', '100', '2', '200']]