In [ ]:
# set
# Not Indexed
# No Duplicate Values
# Unordered
# Mutable

In [1]:
# set are Unordered
s =  set()
a = {"Apple","Ball",'Cat',"Dog"}
print(a)

{'Cat', 'Ball', 'Apple'}

In [4]:
# Set are not Indexed
a = {"Apple","Ball",'Cat',"Dog"}
print(a[0])

TypeError: 'set' object is not subscriptable

In [3]:
# Set donot take duplicate values

a = {"Apple","Ball","Cat","Dog","Fish","Apple"}
print(a)

{'Ball', 'Fish', 'Cat', 'Dog', 'Apple'}

In [5]:
# Set is Mutable
a = {"Apple","Ball",'Cat',"Dog"}
a.update({'Goat'})
a

{'Apple', 'Ball', 'Cat', 'Dog', 'Goat'}

In [6]:
# Mutable
a = {"Apple","Ball",'Cat',"Dog"}
a.add('Goat')
a

{'Apple', 'Ball', 'Cat', 'Dog', 'Goat'}

In [7]:
# Set is Unordered
s = set()
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    s.add(x)
print(s)

Enter n = 2
Enter x = 1
Enter x = 2
{'2', '1'}

In [9]:
# Tuple inside set can be put
s = {(1,2,3),(4,5,6),(7,8,9)}
s

{(1, 2, 3), (4, 5, 6), (7, 8, 9)}

In [10]:
#  list cannot be put inside set if we try to put errors come in program
d = {[1,2,3],[4,5,6]}
d

TypeError: unhashable type: 'list'

In [12]:
# set inside set cannot be put if we try to put errors come in program
s = {{1,2,3},{4,5,6},{7,8,9}
s

SyntaxError: invalid syntax (Temp/ipykernel_3864/1511508841.py, line 3)

In [13]:
a = ["Apple","Ball","Apple","Ball"]
b = set(a)
c = list(b)
c

['Ball', 'Apple']

In [14]:
# Union
abc  = {"Ram","Shyam","Hari","Gita"}
xyz = {"Siva","Sita","Ram","Shyam"}
abc.union(xyz)

{'Gita', 'Hari', 'Ram', 'Shyam', 'Sita', 'Siva'}

In [15]:
# Intersection
abc  = {"Ram","Shyam","Hari","Gita"}
xyz = {"Siva","Sita","Ram","Shyam"}
abc.intersection(xyz)

{'Ram', 'Shyam'}

In [16]:
# Associated with abc compnay but not xyz
abc  = {"Ram","Shyam","Hari","Gita"}
xyz = {"Siva","Sita","Ram","Shyam"}
abc.difference(xyz)

{'Gita', 'Hari'}

In [17]:
# Assocaited with xyz company but not abc
abc  = {"Ram","Shyam","Hari","Gita"}
xyz = {"Siva","Sita","Ram","Shyam"}
xyz.difference(abc)

{'Sita', 'Siva'}

In [20]:
# Not Assocaited with both company
U = {"Ram","Shyam","Hari","Gita","Nabin","Vimesh","Siva","Sita","Ram","Shyam"}
abc  = {"Ram","Shyam","Hari","Gita"}
xyz = {"Siva","Sita","Ram","Shyam"}
x = abc.union(xyz)
un = U.difference(x)
un

{'Nabin', 'Vimesh'}

In [21]:
# Symmertical Differecne
U = {"Ram","Shyam","Hari","Gita","Nabin","Vimesh","Siva","Sita","Ram","Shyam"}
abc  = {"Ram","Shyam","Hari","Gita"}
xyz = {"Siva","Sita","Ram","Shyam"}
x = abc.intersection(xyz)
y = abc.union(xyz)
un = y.difference(x)
un

{'Gita', 'Hari', 'Sita', 'Siva'}