In [ ]:
# Tuple
#     Indexed
#     Ordered
#     Multiple Data
#     Duplicate Values
#     Imutable

In [1]:
a = (1,2,3)
print(a)
print(type(a))

(1, 2, 3)
<class 'tuple'>

In [5]:
a = ("Apple","Ball")
print(a)
print(type(a))

('Apple', 'Ball')
<class 'tuple'>

In [6]:
a = ("Apple","Ball","Cat","Dog")
print(a[0:3])

('Apple', 'Ball', 'Cat')

In [ ]:
a = ("Apple","Ball","Cat","Dog")
b = ("Fish",)
a = a+b
print(a)

In [ ]:
# append() insert() extend() del remove() pop()

In [8]:
a = ("Apple","Ball","Cat","Dog")
a.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [10]:
a = ("Zebra","Apple","Ball","Cat","Dog")
print(a)
print(sorted(a))

('Zebra', 'Apple', 'Ball', 'Cat', 'Dog')
['Apple', 'Ball', 'Cat', 'Dog', 'Zebra']

In [11]:
a = ("Zebra","Apple","Ball","Cat","Dog")
b = list(a)
print(b)

['Zebra', 'Apple', 'Ball', 'Cat', 'Dog']

In [12]:
a = ("Zebra","Apple","Ball","Cat","Dog")
b = list(a)
b.remove('Zebra')
a = tuple(b)
a

('Apple', 'Ball', 'Cat', 'Dog')

In [ ]:
# min() max() sum() index() search read

In [13]:
a = ("Zebra","Apple","Ball","Cat","Dog")
a.index("Apple")

1

In [14]:
a = ("Zebra","Apple","Ball","Cat","Dog")
for i in a:
    print(i)

Zebra
Apple
Ball
Cat
Dog

In [15]:
a = ("Zebra","Apple","Ball","Cat","Dog")
if "Apple" in a:
    print("Yes")

Yes

In [16]:
data = ()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    data = data+(x,)
    
print(data)

Enter n = 4
Enter x = 5
Enter x = 2
Enter x = 12
Enter x = 7
(5, 2, 12, 7)

In [17]:
def hello():
    return "Hello", "World"

print(hello()[0])
print(hello()[1])

Hello
World

In [18]:
# # tuple inside tuple
# a = ((1,2,3),
#      (4,5,6),
#      (7,8,9))

In [19]:
data = ()
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    info = (i,name,age,add)
    data = data+(info,)
    
print(data)

Enter n = 4
Enter name = Ananya
Enter age = 20
Enter add = Dang
Enter name = Zeyana
Enter age = 19
Enter add = Ktm
Enter name = Bhumika
Enter age = 20
Enter add = Bardibas
Enter name = Rammaya
Enter age = 29
Enter add = Dhading
((1, 'Ananya', 20, 'Dang'), (2, 'Zeyana', 19, 'Ktm'), (3, 'Bhumika', 20, 'Bardibas'), (4, 'Rammaya', 29, 'Dhading'))

In [20]:
# # tuple inside tuple to list inside list
# list inside tuple
# tuple inside tuple to list inside list

a = ((1,2,3)) , ((4,5,6)) ,((7,8,9))
b = [list(x) for x in a]
print(b)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]